<div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
       <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-paris.jpg');">
        <div class="card-category">Paris</div>
        <div class="card-description">
          <h2>Seb's hut</h2>
          <p>Very cool and expensive city</p>
        </div>
        <img class="card-user avatar" src="images/seb.jpg">
        <a class="card-link" href="#" ></a>
      </div>

    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-london.jpeg');">
        <div class="card-category">Londres</div>
        <div class="card-description">
          <h2>Romain's igloo</h2>
          <p>Very big and cool city</p>
        </div>
        <img class="card-user avatar" src="images/romain.jpeg">
        <a class="card-link" href="#" ></a>
      </div>

    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-brussels.jpeg');">
        <div class="card-category">Brussels</div>
        <div class="card-description">
          <h2>Anne's loft</h2>
          <p>Very cool and smart city, the world's capital</p>
        </div>
        <img class="card-user avatar" src="images/anne.jpg">
        <a class="card-link" href="#" ></a>
      </div>

    </div>
  </div>
</div>
</div>
