<div class="wrapper-grey">
  <div class="container">
    <div class="text-center">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <img src="images/globe.png" alt="terre">
          <h2>Discover the world</h2>
          <p>The earth is your new home.</p>
        </img>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <img src="images/dollar.png" alt="billet">
        <h2>Pay online</h2>
        <p>No cash issues anymore.</p>
      </img>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <img src="images/beer.png" alt="bieres">
      <h2>Meet people</h2>
      <p>Discover new culture and lifestyle.</p>
    </img>
  </div>
  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img src="images/heart.png" alt="amour">
    <h2>Share and love</h2>
    <p>Join a community you will love.</p>
  </img>
</div>
</div>
</div>
</div>
</div>
