---
title: Le Wagon Middleman boilerplate
---

<div class="welcome text-center padded">
  <h1>Welcome to Middleman</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p>
</div>

<head>
  <meta charset="utf-8">
  <title>Airbnb home</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:300,400,500,700">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- Leave those next 4 lines if you care about users using IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>

      <!-- Your banner code -->
      <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/background.jpg');">
        <div class="banner-content">
          <h1><strong>Jungle HopFit</strong></h1>
          <p>Journeys organized by your favourite sport platform</p>
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <div class="form-login">
                  <form action="#" class="form-inline">
                    <input type="email" id="your-email" class="form-control" placeholder="checkin">
                    <input type="password" id="password" class="form-control" placeholder="checkout">
                    <select class="form-control">
                      <option value="1">1 guest</option>
                      <option value="2">2 guests</option>
                      <option value="3">3 guests</option>
                    </select>
                    <input type="submit" value="Sign In" class="btn btn-primary" class="form-control">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </body>
      </html>
    </div>
  </div>
</body>
</html>
<!-- Your features code -->
<div class="wrapper-grey">
  <div class="container">
    <div class="text-center">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <img src="images/globe.png" alt="terre">
          <h2>Discover the world</h2>
          <p>The earth is your new home.</p>
        </img>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <img src="images/dollar.png" alt="billet">
        <h2>Pay online</h2>
        <p>No cash issues anymore.</p>
      </img>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <img src="images/beer.png" alt="bieres">
      <h2>Meet people</h2>
      <p>Discover new culture and lifestyle.</p>
    </img>
  </div>
  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img src="images/heart.png" alt="amour">
    <h2>Share and love</h2>
    <p>Join a community you will love.</p>
  </img>
</div>
</div>
</div>
</div>
</div>
<!-- Your cards code -->
<div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
       <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-paris.jpg');">
        <div class="card-category">Paris</div>
        <div class="card-description">
          <h2>Seb's hut</h2>
          <p>Very cool and expensive city</p>
        </div>
        <img class="card-user avatar" src="images/seb.jpg">
        <a class="card-link" href="#" ></a>
      </div>

    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-london.jpeg');">
        <div class="card-category">Londres</div>
        <div class="card-description">
          <h2>Romain's igloo</h2>
          <p>Very big and cool city</p>
        </div>
        <img class="card-user avatar" src="images/romain.jpeg">
        <a class="card-link" href="#" ></a>
      </div>

    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-brussels.jpeg');">
        <div class="card-category">Brussels</div>
        <div class="card-description">
          <h2>Anne's loft</h2>
          <p>Very cool and smart city, the world's capital</p>
        </div>
        <img class="card-user avatar" src="images/anne.jpg">
        <a class="card-link" href="#" ></a>
      </div>

    </div>
  </div>
</div>
</div>
<!-- Your newsletter code -->
<div class="wrapper-grey">
<div class="input">
  <div class="text-center">
    <h2>Get news from us.</h2>
    <p>Leave us your mail and get news from us</p>
    <div class="list-inline">
      <form class= "form-inline">
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <button type="button" class="btn btn-primary">Subscribe</button>
      </form>
    </div>
  </div>
</div>
</div>
<!-- Your map code -->
<div id="map" style="width: 100%; height: 400px;"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
  var myLatlng = new google.maps.LatLng(48.8655909, 2.378983);

  var myOptions = {
    zoom: 16,
    center: myLatlng,
    scrollwheel: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    styles: [
    {
      "featureType": "water",
      "stylers": [
      {
        "color": "#0e171d"
      }
      ]
    },
    {
      "featureType": "landscape",
      "stylers": [
      {
        "color": "#1e303d"
      }
      ]
    },
    {
      "featureType": "road",
      "stylers": [
      {
        "color": "#1e303d"
      }
      ]
    },
    {
      "featureType": "poi.park",
      "stylers": [
      {
        "color": "#1e303d"
      }
      ]
    },
    {
      "featureType": "transit",
      "stylers": [
      {
        "color": "#182731"
      },
      {
        "visibility": "simplified"
      }
      ]
    },
    {
      "featureType": "poi",
      "elementType": "labels.icon",
      "stylers": [
      {
        "color": "#f0c514"
      },
      {
        "visibility": "off"
      }
      ]
    },
    {
      "featureType": "poi",
      "elementType": "labels.text.stroke",
      "stylers": [
      {
        "color": "#1e303d"
      },
      {
        "visibility": "off"
      }
      ]
    },
    {
      "featureType": "transit",
      "elementType": "labels.text.fill",
      "stylers": [
      {
        "color": "#e77e24"
      },
      {
        "visibility": "off"
      }
      ]
    },
    {
      "featureType": "road",
      "elementType": "labels.text.fill",
      "stylers": [
      {
        "color": "#94a5a6"
      }
      ]
    },
    {
      "featureType": "administrative",
      "elementType": "labels",
      "stylers": [
      {
        "visibility": "simplified"
      },
      {
        "color": "#e84c3c"
      }
      ]
    },
    {
      "featureType": "poi",
      "stylers": [
      {
        "color": "#e84c3c"
      },
      {
        "visibility": "off"
      }
      ]
    }
    ]
 // TODO: replace [] by array from https://snazzymaps.com/
};
var map = new google.maps.Map(document.getElementById('map'), myOptions);
var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title: "You are here!"
});
</script>
<!-- Your footer code -->

<!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
