<ul class="list-inline text-center">
  <% ["jacky", "mouton", "statue"].each do |member| %>
    <li>
      <%= image_tag "#{member}.png", class: "avatar-larger" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
